@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-light';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {    
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Greyish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Grey: hsl(0, 0%, 98%);
}

body {
    font-family: 'Poppins',sans-serif;
    background-color: var(--Very-Light-Grey);
    margin: 80px 32px;
    display: grid;
    justify-items: center;
}


.text-large-200 {
    font-family: 'poppins-light';
    font-size: 25px;
    font-weight: 200;
    color: var(--Very-Dark-Blue);
    text-align: center;
}

.text-large-400 {
    font-family: 'poppins-bold';
    font-size: 25px;
    font-weight: 400;
    color: var(--Very-Dark-Blue);   
    text-align: center;
    margin-bottom: 16px;
}

.hero-text {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: var(--Greyish-Blue);
    margin-bottom: 76px;
}

/* Hero texts desktop ---- */
    @media screen and (min-width: 830px) {
        body {
            display: grid;            
            justify-items: center;            
        }

        .main-intro-container {
            display: grid;
            justify-items: center;
        }

        .text-large-200 {
            font-family: 'poppins-light';
            font-size: 36px;
            font-weight: 200; 
            margin-bottom: 6px;   
        }

        .text-large-400 {            
            font-size: 36px;
            margin-bottom: 16px;
        }

        .hero-text {
            max-width: 520px;   
            margin-bottom: 66px;         
        }
}

/* Hero texts desktop END ---- */

.cards-wrapper {
    display: grid;
    justify-items: center;
}


/* Stacked Cards desktop ---- */

@media screen and (min-width: 830px) {
    
    .cards-wrapper {
        display: flex;
        align-items: center;
        column-gap: 30px;        
    }

    .card-2 {
        margin-bottom: 30px;
    }
}

/* Stacked Cards desktop END ---- */

.card-container {
    background-color: white;
    padding: 24px;
    border-radius: 6px;    
    display: grid;   
    max-width: 350px;     
    margin-bottom: 24px;
}

.card-heading h2 {
    font-size: 21px;
    letter-spacing: -0.4px;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    margin-bottom: 6px;
}

.card-heading p{
    font-size: 14px;
    color: var(--Greyish-Blue);
    margin-bottom: 32px;
    letter-spacing: -0.2px;
    font-weight: 200;
}

.card-heading-figure {
    display: grid;
    justify-items: flex-end;
    justify-self: center;
}

.card-1 {
    box-shadow: 0px 4px 24px hsla(212, 86%, 64%, 0.2), 
    inset 0px 3px 0px 0px var(--Cyan);
}

.card-2 {
    box-shadow: 0px 4px 24px hsla(212, 86%, 64%, 0.2), 
    inset 0px 3px 0px 0px var(--Red);
}

.card-3 {
    box-shadow: 0px 4px 24px hsla(212, 86%, 64%, 0.2), 
    inset 0px 3px 0px 0px var(--Orange);
}

.card-4 {
    box-shadow: 0px 4px 24px hsla(212, 86%, 64%, 0.2), 
    inset 0px 3px 0px 0px var(--Blue);
}



/* Footer ---- */

footer {
    width: 100%;           
    display: grid; 
    margin-top: 64px;   
    justify-content: center; 
    color: var(--Very-Dark-Blue);
}

.attribution {
    display: inline-flex;
    justify-self: center;        
}

footer a {
    color: var(--Greyish-Blue);
    text-decoration: none;
    transition: ease 0.3s;
}

a:hover {    
    color: var(--Blue);
}

.attribution .div-line {
    padding: 0px 8px;
}

/* Footer Mobile ---- */

@media screen and (max-width: 830px) {
    .attribution {
        display: grid;        
        align-items: center;      
        justify-items: center;
    }

    .div-line {
       display: none;
    }
}
    


/* Footer Mobile ---- */
/* Footer Social Links ---- */

    ion-icon {
        color: hsl(234, 12%, 34%);
    }

    .nav{
        display: inline-flex;
        list-style-type: none;
        margin-top: 24px;
    }

    .social-icon {    
        color: var(--Greyish-Blue);    
        border-radius: 24px;        
        margin-left: 16px;   
        padding: 4px;     
        display: inline-flex;
        align-self: center;
        justify-self: center; 
        transform: scale(1.4);   
        transition: transform 0.4s;
    }
    
    .social-icon:hover {
        color: var(--Very-Dark-Blue);    
        box-shadow: inset 0 0 0 1px var(--Very-Dark-Blue);    
        transform: scale(1.8); 
    }
    
    .icon-1{
        margin-left: 0;
    }